/* Estilos Globais */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Remove scroll horizontal */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Garante que ocupe 100% da largura */
}

main {
  flex: 1;
  padding: 2rem;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; /* Ajusta para 100% de largura */
}

/* Navbar */
.navbar {
  background-color: #007bff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:black;
  width: 100%; /* Garante que ocupe toda a largura */
  box-sizing: border-box; /* Inclui padding dentro da largura */
}

.navbar h1 {
  font-size: 2rem;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.nav-links a:hover {
  color: whitesmoke;
}

/* Footer */
footer {
  background-color: #007bff;
  color: black;
  padding: 1rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box; /* Inclui padding dentro da largura */
}

/* Ajuste opcional para telas grandes */
main h1 {
  font-size: 3rem;
}
